---
---

@import "{{ site.theme }}";

#forkme_banner {
  visibility: hidden !important;
}

footer .ribbon-outer .ribbon-inner p {
  visibility: hidden;
}

footer .ribbon-outer p {
  visibility: hidden;
}
